:root {
  --off-black: rgb(68, 76, 83);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  color: var(--off-black);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0;
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: var(--off-black);
  z-index: 1;
  transition: background-color 0.5s;
}

div.landing {
  margin: 300px 0 0 0;
  height: 100vh;
}

div.header h1,
div.header-about h1,
div.header-contact h1 {
  font-size: 5em;
  font-weight: 600;
  text-align: justify;
  grid-column: 3 / span 3;
  margin: 200px 0 0 0;
  padding: 0 0 0 4em;
}

div.header h2,
div.header-about h2,
div.header-contact h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: justify;
  grid-column: 3 / span 6;
  margin: 0;
  padding: 0 0 0 10em;
}

div.header-about h2,
div.header-contact h2 {
  max-width: 800px;
  font-size: 1.6em;
  padding: 0 0 0 12.5em;
}

div.header-contact ul {
  font-size: 1em;
  padding: 2em 0 0 20em;
  max-width: 1000px;
  list-style: none;
}

div.header-contact ul li {
  padding: 0.5em 0;
}

ul.side-bar {
  font-weight: 500;
  list-style: none;
  margin: -200px auto 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;

  max-width: 500px;
}

ul.side-bar li a {
  color: var(--off-black);
  text-decoration: none;
  cursor: url("./img/dot.png") 10 10, auto;
}

ul.side-bar li.selected {
  border-bottom: 2px var(--off-black) solid;
}

div.arrow img {
  display: block;
  text-align: center;
  margin: 15% auto 0;
  max-width: 35px;
}

div.arrow img:hover {
  cursor: url("./img/dot.png") 10 10, auto;
}

div.section-description {
  background-color: rgba(68, 76, 83, 0.03);
}

div.section-description h3 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0 auto 4em;
  padding: 6em;
  color: rgba(68, 76, 83, 0.4);
}

section.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 10em 0;
}

div.section-1 div.section-description {
  grid-column: 3 / span 3;
}

section.project a {
  cursor: url("./img/dot.png") 10 10, auto;
  grid-column: 3 / span 3;
}

section.project p a {
  cursor: url("./img/dot.png") 10 10, auto;
  background-image: linear-gradient(transparent 50%, rgba(68, 76, 83, 0.1) 0);
  padding-right: 4px;
  padding-bottom: 2px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
}

section.project a img {
  width: 100%;
  object-fit: contain;
  transition: all 0.6s ease-in-out;
}

section.project a img.black-white {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.6s ease-in-out;
}

section.project a img.color {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transition: all 0.6s ease-in-out;
}

section.project div.project-description {
  grid-column: 7 / span 4;
}

div.project-description h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 auto;
}

div.project-description p {
  font-size: 1.1em;
  font-weight: 300;
  text-align: justify;
}

div.project-description a,
div.header-about h2 a,
div.header-contact ul li a {
  cursor: url("./img/dot.png") 10 10, auto;
  color: var(--off-black);
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, rgba(68, 76, 83, 0.1) 0);
  padding-right: 4px;
  padding-bottom: 2px;
  background-position: 4px 2px;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  margin: 8em auto;
}

footer a {
  color: rgb(68, 76, 83);
  font-size: 1.6em;
  margin: 0 0.2em;
  cursor: url("./img/dot.png") 10 10, auto;
}

@media (max-width: 1280px) {
  div.project-description p {
    font-size: 0.9em;
  }
}

@media (max-width: 1024px) {
  body {
    margin: 192px 0 0 0;
  }

  ul.side-bar {
    margin: -250px auto 0;
  }

  div.landing {
    margin: 300px 0 0 0;
    height: 60vh;
  }

  div.header h1,
  div.header-about h1,
  div.header-contact h1 {
    font-size: 3em;
    text-align: center;
    margin: 120px 0 0 0;
    padding: 0;
  }

  div.header h2 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  div.header-about h2,
  div.header-contact h2 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1.5em;
    max-width: 100%;
  }

  div.header-contact ul {
    font-size: 1em;
    list-style: none;
    text-align: center;
    padding: 0;
  }

  div.section-description h3 {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 auto 4em;
    padding: 4em;
    color: rgba(68, 76, 83, 0.4);
  }

  section.project {
    margin: 4em 0;
  }

  div.project-description h3 {
    font-size: 1.2em;
  }

  div.project-description p {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  div.header h2 {
    font-size: 0.9em;
    grid-column: 3 / span 8;
  }

  section.project {
    margin: 2em auto;
  }

  section.project a {
    grid-column: 3 / span 8;
  }

  section.project a img {
    width: 100%;
    object-fit: contain;
  }

  section.project div.project-description {
    grid-column: 3 / span 8;
    margin: 2em 1em;
  }

  div.project-description h3 {
    font-size: 1.2em;
    font-weight: 400;
  }

  div.project-description p {
    font-size: 0.9em;
    font-weight: 300;
    text-align: justify;
  }
}

@media (max-width: 415px) {
  body {
    margin: 15em 0 0 0;
  }
}
