body {
  color: rgb(68, 76, 83);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0;
}

div.header {
  background: rgb(223, 230, 238);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0;
  padding: 6em 0;
}
div.header h2 {
  font-size: 1.2em;
  font-weight: 400;
  text-align: justify;
  grid-column: 3 / span 3;
  margin: 0;
}

section.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 5em auto;
}

section.project a {
  grid-column: 3 / span 3;
}

section.project a img {
  width: 100%;
  object-fit: contain;
}

section.project div.project-description {
  grid-column: 7 / span 4;
}

div.project-description h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 auto;
}

div.project-description p {
  font-size: 1em;
  font-weight: 300;
  text-align: justify;
}

div.project-description a {
  color: rgb(0, 97, 207);
  text-decoration: none;
}

footer {
  text-align: center;
  margin-bottom: 4em;
}

footer a {
  color: rgb(68, 76, 83);
  font-size: 1.6em;
  margin: 0 0.2em;
}

@media (max-width: 1024px) {
  div.header h2 {
    font-size: 1em;
    grid-column: 3 / span 8;
  }
}

@media (max-width: 768px) {
  div.header h2 {
    font-size: 1em;
    grid-column: 3 / span 8;
  }

  section.project {
    margin: 2em auto;
  }

  section.project a {
    grid-column: 3 / span 8;
  }

  section.project a img {
    width: 100%;
    object-fit: contain;
  }

  section.project div.project-description {
    grid-column: 3 / span 8;
    margin: 2em 1em;
  }

  div.project-description h3 {
    font-size: 1em;
    font-weight: 400;
  }

  div.project-description p {
    font-size: 0.9em;
    font-weight: 300;
    text-align: justify;
  }
}
